body {
    background-color: #f0f8ff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

a { 
    color: #fbf5df; 
    text-decoration: none;
}

.weather-app {
    background-image: url(https://img.freepik.com/premium-photo/dramatic-portrait-towering-cumulonimbus-clouds-against-deep-blue-sky-power-majesty_981640-63685.jpg?size=626&ext=jpg&ga=GA1.2.1376668233.1724065503&semt=ais_hybrid);
    max-width: 600px;
   background-size: 120%;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.search-form-input {
    background-color: #fbf5df;
    border: none;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    padding: 15px 20px;
    box-sizing: border-box;
}

.search-form-button { 
    background: #fff1e6;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    color: black;
}

.search-form-button:hover {
    cursor: pointer;
}

main {
    padding: 30px 0;
}

.weather-app-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details {
    font-size: 16px;
    color: rgba(31, 208, 247, 0.826);
    line-height: 24px;
    font-weight: 800;
}

.weather-app-details strong {
    color: #b95d16;
}

.weather-app-temperature-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.weather-app-icon {
    width: 88px;
    height: 88px;
}

.weather-app-temperature {
    font-size: 88px;
    margin-left: 10px;
    line-height: 88px;
    font-weight: bold;
}

.weather-app-unit {
    margin-top: 6px;
    font-size: 28px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.weather-forecast-date {
    text-align: center;
    color: #fbf5df;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 900;
}

.weather-forecast-icon {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}

.weather-forecast-temperatures {
    text-align: center;
    color: rgba(31, 208, 247, 0.826);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.weather-forecast-temperature {
    padding: 0 10px;
}

footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(31, 208, 247, 0.826);
}
